.Project{
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    background-color: aqua;
}

.image{
    width: 50%;
    height: 200px;
    border-radius: 10px;
    display:grid;
}